
  <h1>Celebrities List</h1>
 <ul>
    <% famosos.forEach((famoso) => { %>
      <li> 
        <a href="/celebrities/<%= famoso._id %>"><%= famoso.name %></a> 
        <form action="/celebrities/<%= famoso._id %>/delete" method="post">
          <input type="submit" value="delete">
        </form>
      </li>
      <br>  
    <% }) %>
  </ul>
  <a href="/">Go Back</a>
  <a href="/celebrities/new">Create a new celeb</a>