
  <h1> Discover all the details </h1>
  <h2> <%= celebrity.name %> </h2>
  <h3> <%= celebrity.occupation %> </h3>
  <h4> <%= celebrity.catchPhrase %> </h4>
  <a href="/celebrities/<%= celebrity._id %>/update">Update</a>
  <a href="/celebrities">Go back</a>
