<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Celebrities List</h1>
 <ul>
    <% famosos.forEach((famoso) => { %>
      <li> 
        <a href="/celebrities/<%= famoso._id %>"><%= famoso.name %></a> 
        <form action="/celebrities/<%= famoso._id %>/delete" method="post">
          <input type="submit" value="delete">
        </form>
      </li>
      <br>  
    <% }) %>
  </ul>
  <a href="/">Go Back</a>
  <a href="/celebrities/new">Create a new celeb</a>

</body>
</html>