<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the celebrity finder</h1>
    <a href="/celebrities">Look for celebs</a>
  </body>
</html>
