<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Insert celebrity details</h1>
  <form action="/celebrities" method="post">
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="occupation">occupation</label>
    <input type="text" name="occupation" id="occupation">
    <label for="catchPhrase">catchPhrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase">
    <input type="submit" value="create">
  </form>
</body>
</html>