<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1> Discover all the details </h1>
  <h2> <%= celebrity.name %> </h2>
  <h3> <%= celebrity.occupation %> </h3>
  <h4> <%= celebrity.catchPhrase %> </h4>
  <a href="/celebrities/<%= celebrity._id %>/update">Update</a>
  <a href="/celebrities">Go back</a>
</body>
</html>