
<h1>Movies List</h1>
<ul>
   <% pelis.forEach((peli) => { %>
     <li> 
       <a href="/movies/<%= peli._id %>"><%= peli.title %></a> 
       <form action="/movies/<%= peli._id %>/delete" method="post">
         <input type="submit" value="delete">
       </form>
     </li>
     <br>  
   <% }) %>
 </ul>
 <a href="/">Go Back</a>
 <br><br>
 <a href="/movies/new">Add a new movie</a>
