
<h1>Insert new movie info</h1>
<form action="/movies" method="post">
  <label for="title">title</label>
  <input type="text" name="title" id="title">
  <label for="genre">genre</label>
  <input type="text" name="genre" id="genre">
  <label for="plot">plot</label>
  <input type="text" name="plot" id="plot">
  <input type="submit" value="create">
</form>
